<%= form_tag user_sessions_path, :method => :post do %>
<div class="container">
  <div class="form-group">
    <%= text_field_tag :email,params[:email], class: 'form-control', placeholder: "Email Address", autofocus: true  %><br>
  </div>
  <div class="form-group">
    <%= password_field_tag :password ,params[:password], class: 'form-control', placeholder: "Password", autofocus: true  %><br>
  </div>
  <div class="actions">
    <div class="button_wrapper">
      <%= submit_tag "Login" ,:class => "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
